name: Security - CodeQL

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 3 * * 0"

jobs:
  analyze:
    permissions:
      contents: read
      security-events: write
      actions: read

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: ["go", "cpp"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v3
